[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">6.2"
pytest-cov = "*"
flake8 = "*"
isort = "*"
bandit = "*"
safety = "*"
invoke = "*"
docstr-coverage = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = "*"
proman-versioning = "*"
mypy = ">=0.910"
black = ">=21.7b0"
build = "*"
wheel = "*"

[packages]

[requires]
python_version = "{{ cookiecutter.python_version }}"
