[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">5.2"
pytest-cov = "*"
flake8 = "*"
isort = "*"
bandit = "*"
safety = "*"
bump2version = "*"
invoke = "*"
docstr-coverage = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = "*"
flit = "*"
mypy = "^0.910"
black = "^21.7b0"

[packages]

[requires]
python_version = "{{ cookiecutter.python_version }}"
